.accordian {
  justify-content: center;
  align-items: center;
  margin: 5%;
}

.ingredients {
  background-color: #e6e8eb;
  text-align: left;
  padding: 3em;
}

.instructions {
  text-align: left;
  padding-bottom: 2em;
}

.image {
  justify-content: center;
  align-items: center;
}

.badge {
  padding-bottom: 35px;
}
