.accordian {
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.accordianDetails {
  background-color: #f7f6f3 !important;
}

.ingredients {
  background-color: #e9e7e3 !important;
  text-align: left;
  padding: 2em;
  font-size: larger;
}

.instructions {
  text-align: left;
  padding: 1.5em 0 1.5em 0;
}

.image {
  justify-content: center;
  align-items: center;
}

.badge {
  margin-right: 35px;
  margin-left: 35px;
  padding-right: 10px;
}

.chip {
  font-size: smaller;
}

.header {
  text-align: center;
}
